@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@600;700&display=swap');

#fune{
    background-color: #1f4752;
    font-family: 'Rajdhani', sans-serif;
    height: 100%;
}

.center{
    margin-top: 2%;
}