#gb{
    margin-top: -6%;
    background-image: 
    url(
  "../images/hero-illustration-shield-large-desktop.svg");
    background-size: "cover";
    height: 50vh;
    margin-top: -20px;
    font-size:50px;
    background-repeat:no-repeat; 
}

#fit{
    background-color: rgb(37, 113, 145);
}
#fi{
    color:rgb(37, 113, 145) ;
}